

.tech-slideshow2 {
  height: 124px;
  max-width: 300%;
  margin: 0px auto;
  margin-bottom:0px;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background-color:white;
}

.tech-slideshow2 > div {
  
  width: 32056px;
  background: url(clients-01.jpg);
  background-size:35.8%;
  position: relative;
  top: -5px;
  left: 0;
  height: 120%;
  transform: translate3d(0, 0, 0);
  
}


.tech-slideshow2 .mover-3 {

    animation:moveSlideshow 30s linear infinite;
}
.tech-slideshow2 .mover-4 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
 
  animation:moveSlideshow 30s linear infinite;
}




@keyframes  moveSlideshow {
  100% { 
   transform:translateX(-15%);
  }
}


.tech-slideshow2 .mover-3 {
  -webkit-animation: moveSlideshow 30s linear infinite;
}
.tech-slideshow2 .mover-4 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  -webkit-animation: moveSlideshow 30s linear infinite;
}



@-webkit-keyframes moveSlideshow {
  100% { 
   -webkit-transform:  translateX(-15%);  
  }
}
